<%= form_tag(user_messages_path(user_id), method: :post, class: "create-pm", remote: true) do %>

  <li class="object-item group">
    <div class="object-avatar">
      <%= display_photo(current_user.profile, :avatar) %>
    </div>

    <section class="object-content">
        <%= label_tag 'message[body]', 'Message' %>
      	<%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
    </section>
  </li>

 <%= submit_tag "Send" %>
<% end %>



