<h1>Profiles</h1>
<p>Check out your matches</p>

<%= form_tag user_filters_create_path, method: :post, class: "search-bar" do %>
    <span class="block-floated">Age Range: </span>
    <%= text_field_tag :beg_age %>
    <span class="block-floated">to</span>
    <%= text_field_tag :end_age %>
    <span class="block-floated">years old</span>
    <%= submit_tag "Filter" %>
<% end %>

<ul class="profiles-list group">
	<% @profiles.each do |profile| %>
		<li>
    <div class="profile-content">
			<%= link_to profile.user.username, profile_path(profile) %>
			<%= age(profile.birthday) %>
      <%= profile.city %>
      <br>
    </div>
			<%= link_to display_photo(profile, :avatar), profile_path(profile) %>
      <%= profile.bio %>
		</li>
	<%end%>
</ul>