<div class='contanier'>
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<h2>Create a profile</h2>

			<%= form_for Profile.new do |f| %>

				    <%= f.label :bio %><br>
				    <%= f.text_area :bio %><br>

				    <%=f.label :birthday %><br>
					<%= f.date_select :birthday, :start_year => Time.now.year - 100, :end_year => Time.now.year - 18 %> <br>
					
					<%=f.label :zip_code %><br>
					<%=f.text_field :zip_code %> <br>

					<%=f.label :city %><br>
					<%=f.text_field :city %> <br>

					<%= f.radio_button :sex, 'Male' , checked: true %>
					<%= f.label :sex, 'Male' %>
					<%= f.radio_button :sex, 'Female' , checked: true %>
					<%= f.label :sex, 'Female' %> <br>
					
					<div class="activities">
						<h3> What keeps your active? </h3>

					</div>

					<%= f.submit %>  
			<% end %>
		</div>
	</div>
</div>
