<div class='contanier'>
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<h2>Create a profile</h2>

			<%= form_for Profile.new do |f| %>

				    <%= f.label :bio %><br>
				    <%= f.text_area :bio %><br>

				    <%=f.label :birthday %><br>
					<%= f.date_select :birthday, :start_year => Time.now.year - 100, :end_year => Time.now.year - 18 %> <br>
					
					<%=f.label :zip_code %><br>
					<%=f.text_field :zip_code %> <br>

					<%=f.label :city %><br>
					<%=f.text_field :city %> <br>

					<%= f.radio_button :sex, 'Male' , checked: true %>
					<%= f.label :sex, 'Male' %>
					<%= f.radio_button :sex, 'Female' , checked: true %>
					<%= f.label :sex, 'Female' %> <br>
					
					<h3> What keeps your active? </h3>
					
					<%= f.hidden_field :weights %>
					<%= f.check_box :weights, checked: false %> Weight Lifting 

					<%= f.hidden_field :running %>
					<%= f.check_box :running, checked: false, value: true %>
					<%= f.label :running, 'Running' %>
					
					<%= f.hidden_field :biking %>
					<%= f.check_box :biking, checked: false %>
					<%= f.label :biking, 'Biking' %> <br>

					<%= f.hidden_field :swimming %>
					<%= f.check_box :swimming, checked: false %>
					<%= f.label :swimming, 'Swimming' %>

					<%= f.hidden_field :rocks %>
					<%= f.check_box :rocks, checked: false %>
					<%= f.label :rocks, 'Rock Climbing' %>

					<%= f.hidden_field :hiking %>
					<%= f.check_box :hiking, checked: false %> <br>
					<%= f.label :hiking, 'Hiking' %>

					<%= f.hidden_field :yoga %>
					<%= f.check_box :yoga, checked: false %>
					<%= f.label :yoga, 'Yoga' %>

					<%= f.hidden_field :dance %>
					<%= f.check_box :dance, checked: false %>
					<%= f.label :dance, 'Dancing' %>
					
					<div class="activities">

					</div>

					<%= f.submit %>  
			<% end %>
		</div>
	</div>
</div>
