<nav class="sec-right-nav">
    <ul class="group enlargement-links">
      <% unless current_user.profile == @profile %>
        <% unless @profile.photos.blank? %>
          <% @profile.photos.each do |photo| %>
          <li>
            <a href="#" class="enlarge-photo" data-url="<%= photo.file.url(:featured) %>">
              <img src="<%= photo.file.url(:thumb) %>">
            </a>
          </li>
          <% end %>
        <% end %>
        <li>
          <a href="#" class="message">
            Message
          </a>
        </li>
      <% end %>
      </ul>
  </nav>

<div class="content-half left-half" style="padding-top: 0 px">
      <%= render partial: "profile_photos", locals: {profile: @profile} %>
</div>

<div class="content-half profile-view" style="background-color: #fff">
<h1 class="username">
    <%= @profile.user.username %>,  
    <%= age(@profile.birthday) %> </h1>
    <h5> City: <%= @profile.city %> </h5>
    <h3><%= @profile.bio %></h3>
    <br>
    <br>
    <h4>My Activities</h4>
    <ul>
      <li>Weights: <%=@profile.weights%></li>
      <li>Running: <%=@profile.running%></li>
      <li>Biking: <%=@profile.biking%></li>
      <li>Swimming: <%=@profile.swimming%></li>
      <li>Hiking: <%=@profile.hiking%></li>
      <li>Yoga: <%=@profile.yoga%></li>
      <li>Dance: <%=@profile.dance%></li>
    </ul>
</div>

<script type="text/template" id="send-message-template"/>
    <div class="hide-container">
      <p>Send over a message</p>
      
      <%= form_for(@message, url: user_messages_path(@profile.user), method: :post, remote: true, class: "send-message") do |f| %>

        <%= f.text_area :body %>

        <%= f.submit "Submit", class: "sumbit-message" %>

        <% end %>
    </div>
  </script>
</div>



