<!-- <h1>Profile</h1>
<p><%= @profile.bio %></p>
<p><%= @profile.sex %></p> -->

<div class="content-half left-half" style="padding-top: 0 px">
  <%= render partial: "profile_photos", locals: {profile: @profile} %>

<h1 class="username">
    <%= @profile.bio %>
  </h1>

    <span class="profile-field">
    <span class="<%= "owner-can-modify" if @is_current_user_profile %>" id="age">
      <%= age(@profile.birthday) %>
    </span>

    <input type="date"
    class="form-input"
    name="profile[birthday]"
    value="<%= @profile.birthday %>">
  </span> 