<div class="header-wrap group">
  <h1 class="header-logo">
        <% if logged_in? %>
    <a href="<%= profiles_path %>">
      Adventure
    </a>
  <%else%>
    <a href="<%= root_path %>">
      Adventure
    </a>
      <% end %>
  </h1>


  <nav class="header-nav">
    <ul class="group">
      <% if logged_in? %>
        <li>
          <%= link_to "Home", profiles_path %>
        </li>

        <li>
          <%= link_to "Browse", profiles_url %>
        </li>

        <li>
          <%=link_to "Messages", messages_url %>
        </li>

        <li>
          <% if current_user.profile == nil %>
          <%= link_to "My Profile", root_path %>
          <% else %>
          <%= link_to "My Profile", profile_url(current_user.profile.id) %>
          <% end %>
        </li>

        <li>
            <%= link_to 'Sign Out', logout_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign Up", new_user_url %>
        </li>
        <li>
          <a href="/auth/facebook">
            Facebook Sign In
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>

<section class="modal">
   <article class="modal-box">
     <span class="modal-close-button">
       &times;
     </span>
     <div id="modal-container"></div>
     </div> <!-- is this extra? -->
   </article>
 </section>

